.search-container {
    margin-top: 100px;
    padding: $mid-size;
    background-color: $bg-color;
    box-shadow: 5px 5px;
    font-weight: $bold-font;
    font-size: $mid-size;
}

input {
    height: 50px;
    font-weight: $bold-font;
    font-size: $mid-size;
}

input[name="location"] {
    width: 300px;
}

  input[name="price"] {
    width: 175px;
}

  input[name="bedrooms"] {
    width: 175px;
}