/*Colours*/
$menu-background: #000088;
$bg-color: #dddddd;
$link-color: #333333;
$terms-color: #bbbb00;

/*Numbers*/
$screen-change-xl: 900px;
$screen-change-l: 800px;
$title-font: 80px;
$mid-size: 20px;
$large-size: 40px;
$bold-font: 600;